<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_TEAM</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)$(GE_DISPLAY_NAME_SUFFIX)</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>PP_GE_HELPER_BUNDLE_ID</key>
		<string>identifier "$(GE_HELPER_BUNDLE_ID)" and anchor apple generic and certificate leaf[subject.CN] = "$(GE_DEVELOPMENT_CERTIFICATE)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
</dict>
</plist>
