<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(GE_BUNDLE_ID_PREFIX).TMBuddy.TMUtilHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>$(BUNDLE_VERSION)</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "$(GE_APP_BUNDLE_ID)" and anchor apple generic and certificate leaf[subject.CN] = "$(GE_DEVELOPMENT_CERTIFICATE)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
		<string>identifier "$(GE_APPEX_BUNDLE_ID)" and anchor apple generic and certificate leaf[subject.CN] = "$(GE_DEVELOPMENT_CERTIFICATE)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
