<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022747464131-3rtvdlh39i2q5s9f7trusddft63atbte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022747464131-3rtvdlh39i2q5s9f7trusddft63atbte</string>
	<key>API_KEY</key>
	<string>AIzaSyDiLXpDqx1GH4-ZNuSw7uQdYsXWkr_cUbM</string>
	<key>GCM_SENDER_ID</key>
	<string>1022747464131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grigorye.dev.TMBuddy.Finder</string>
	<key>PROJECT_ID</key>
	<string>tmbuddy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tmbuddy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022747464131:ios:31fb88487c44057d08ad76</string>
</dict>
</plist>