<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377333223045-k609b3eqpkq2162u5mlcl7ndmrvct69g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377333223045-k609b3eqpkq2162u5mlcl7ndmrvct69g</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1Zxilqd0jfMLFeK8s2h_iOhi3MBggw0</string>
	<key>GCM_SENDER_ID</key>
	<string>377333223045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grigorye.TMBuddy.Finder</string>
	<key>PROJECT_ID</key>
	<string>tmbuddy-79f25</string>
	<key>STORAGE_BUCKET</key>
	<string>tmbuddy-79f25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377333223045:ios:c500239df292763159a3ec</string>
</dict>
</plist>